body{
    height: 100vh;
    display:flex;
    flex-direction:row;
}
.sending-container{
    border:5px blue solid;
    width: 700px;
}
.reciving-container{
    border:5px blue solid;
    width: 700px;
}
.input-button{
    display:flex;
    flex-direction:column;
}
.input-username{
    width:300px;
    font-size: medium;
    height: 5vh;
    margin-left:100px;
    margin-top: 40px;
    color: rgb(0, 0, 0);
}
#description{
    color:rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: large;
    font: bold;
    height: 80px;
    width: 400px;
    margin-left:100px;
    margin-top:400px;
    }

button{
    width:130px;
    margin-left:100px;
    margin-top:20px;
    height:5vh;
}